body, html {
  height: 100%;
}

@font-face {
  font-family: Edition;
  src: url("Edition.ttf") format("truetype");
}

.cover {
  height: 40%;
  width: 100%;
  background: url(../image/blurred_city.jpg) no-repeat center center;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;

}

.center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.logo {
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
  font-family: Iconsolata;
  background: rgba(200,200,200,0.1);
  border: 5px solid white;
  display: inline-block;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem;
}
.logo h1 {
  font-family: Edition;
  letter-spacing: 1rem;
  margin: 0;
}
.logo hr {
  margin: 1rem;
}

.container {
  min-height: 100%;
}

span.mono {
  font-family: "Iconsolata", monospace;
}

.nav {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  text-align: center;
}

.nav a {
  box-sizing: border-box;
  color: #222;
  margin: 1rem 2rem;
  display: inline-block;
  border-bottom: 1px solid white;
  text-decoration: none;
}
.nav a:hover {
  border-bottom: 1px solid #888;
  color: #666;
}

.nav h5 {
  margin: 0 1rem;
}

footer {
  background: #2c3e50;
  color: #ecf0f1;
  height: 40%;
}

div.post-list a {
  text-decoration: none;
  color: black;
}
























