body, html {
  height: 100%;
}

@font-face {
  font-family: Edition;
  src: url("Edition.ttf") format("truetype");
}

.cover {
  height: 60%;
  width: 100%;
  background: url(../image/blurred_city.jpg) no-repeat center center;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;

}

.center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.logo {
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
  font-family: monospace;
  background: rgba(200,200,200,0.2);   
  border: 5px solid white;
  display: inline-block;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem;
}
.logo h1 {
  font-family: Edition;
  letter-spacing: 1rem;
  margin: 0;
}
.logo hr {
  margin: 1rem;
}

.container {
  min-height: 100%;
}

span.mono {
  font-family: "Iconsolata", monospace;
}

span.cursive {
  font-family: "Indie Flower", cursive;
}

.row.nav {
  border-bottom: 1px solid #E1E1E1;
}

.row.nav a {
  color: #222;
}

.row.nav .column {
  text-align: center;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}



footer {
  background: #2c3e50;
  color: #ecf0f1;
  height: 40%;
}

footer .one-half.column {
  text-align: center;
}

div.post-list a {
  text-decoration: none;
  color: black;
}
























