body, html {
  height: 100%;
}

.cover {
  height: 60%;
  width: 100%;
  background: url(../image/cover.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
}

.center hr {
  width: 25%;
}

.container {
  min-height: 100%;
}

span.mono {
  font-family: "Iconsolata", monospace;
}

span.cursive {
  font-family: "Indie Flower", cursive;
}

.row.nav {
  border-bottom: 1px solid #E1E1E1;
}

.row.nav .column {
  text-align: center;
}

.center {
  text-shadow: 0px 0px 2px rgba(15, 15, 15, 1);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #ecf0f1;
}

footer {
  background: #2c3e50;
  color: #ecf0f1;
  height: 40%;
}

footer .one-half.column {
  text-align: center;
}