  <div class="cover">
    <div class="center">
      <h1><strong>Edward Lombe</strong></h1>
      <hr>
      <h2>
        <span class="mono">programmer</span> <br>
        <span class="cursive">artist</span>
      </h2>
    </div>
  </div>

  <br>
  <div class="row nav">
    <a href="/"><div class="one-third column"><h5>HOME</h5></div></a>
    <a href="/code"><div class="one-third column"><h5>CODE</h5></div></a>
    <a href="/art"><div class="one-third column"><h5>ART</h5></div></a>
  </div>

  <br>